In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.max_rows = 300
import math
import datetime as dt
from tableone import TableOne, load_dataset
import itertools
import random
import scipy.stats as stats

In [2]:
df_type = pd.read_csv("df_mixAK_fea3_C3.csv")
df_type_filt = df_type.loc[:,["stay_id","groupHPD"]]
df_type_filt = df_type_filt.drop_duplicates()
all_lst = df_type_filt.stay_id.unique().tolist()
print("纳入患者数量：",len(all_lst))

df_type_filt["groupHPD"].value_counts()

纳入患者数量： 7135

2    5569
3     914
1     652
Name: groupHPD, dtype: int64

In [3]:
## 升压药
# Dobutamine, Dopamine, Epinephrine, Norepinephrine, Phenylephrine, Vasopressin

##

In [4]:
data_dir = "/public/hanl/jupyter_dir/kidney_sepsis_penotype/00.data/treatment/"
infile = data_dir + "vaso_with_type.csv"
df_vaso = pd.read_csv(infile)
df_vaso = df_vaso.sort_values(["stay_id","starttime","endtime","vaso_type"])

# 加压素
- 在saki发作后6小时内是否使用加压素
- 在saki发作后使用什么类型的加压素对生存的影响
- 剂量大小

## 生成文件

In [85]:
df_time = pd.read_csv("sk_event_time.csv")
df_time = df_time.loc[:,["stay_id","saki_onset","intime"]]
df_time["saki_onset"] = pd.to_datetime(df_time["saki_onset"])
df_time["intime"] = pd.to_datetime(df_time["intime"])
df_time.loc[:, 'saki_onset_anh'] = df_time.saki_onset + dt.timedelta(hours=12)

In [7]:
df_vaso_filt = pd.merge(df_time,df_vaso,how="inner",on="stay_id")
df_vaso_filt = df_vaso_filt[(df_vaso_filt["starttime"]<=df_vaso_filt["saki_onset_anh"]) & (df_vaso_filt["endtime"]>=df_vaso_filt["saki_onset"])]

df_vaso_filt_grouped = df_vaso_filt.groupby(["stay_id","vaso_type"]).sum()
df_vaso_filt_grouped = df_vaso_filt_grouped.reset_index()
df_vaso_filt_grouped = df_vaso_filt_grouped.loc[:,["stay_id","vaso_type","vaso_amount"]]
df_vaso_filt_grouped["with_vaso"] = 1
with_vaso_instayid = df_vaso_filt_grouped.stay_id.unique()\

# 构建dataframe
df_time["vaso_type"] = "dobutamine,dopamine,epinephrine,norepinephrine,phenylephrine,vasopressin"
df = df_time.loc[:,["stay_id","vaso_type"]]
df = df.set_index(["stay_id"])["vaso_type"].str.split(",", expand=True).stack().reset_index(drop=True,level=-1).reset_index().rename(columns={0:'vaso_type'})

df_vaso_filt_grouped = pd.merge(df, df_vaso_filt_grouped, how="outer",on =["stay_id","vaso_type"])
df_vaso_filt_grouped = df_vaso_filt_grouped.fillna(0)

In [8]:
# 生存时间数据准备
df_demo = pd.read_csv("/public/hanl/jupyter_dir/kidney_sepsis_penotype/00.data/feature_data/sk_icu_basicinfo.csv")
df_demo = df_demo.loc[:,["stay_id","hadm_id"]]

df_admit = pd.read_csv("/public/hanl/jupyter_dir/kidney_sepsis_penotype/00.data/feature_data/admissions.csv")
df_admit = df_admit.loc[:,['hadm_id',"dischtime","deathtime","hospital_expire_flag"]]
df_admit["dischtime"] = pd.to_datetime(df_admit["dischtime"], format='%d/%m/%Y %H:%M:%S')
df_admit["deathtime"] = pd.to_datetime(df_admit["deathtime"], format='%d/%m/%Y %H:%M:%S')
df_admit= pd.merge(df_demo,df_admit,how="inner",on="hadm_id")

df_time_cut = df_time.loc[:,["stay_id","saki_onset","intime"]]

df_admit = pd.merge(df_time_cut,df_admit,how="inner",on="stay_id")
df_admit.loc[:, 'saki_onset_bnh'] = df_admit.saki_onset + dt.timedelta(hours=-24)
df_admit["starttime"] = df_admit[['saki_onset_bnh', 'intime']].max(axis=1)

df_admit["hospital_survival_day"] = (df_admit["dischtime"] - df_admit["starttime"]).map(lambda x:x/np.timedelta64(24, 'h')).tolist()
#df_admit["survival_hour"] = (df_admit["deathtime"] - df_admit["sepsis_onset_b3h"]).map(lambda x:x/np.timedelta64(1, 'h')).tolist()
#df_admit["expire_flag"] = 1
#df_admit.loc[df_admit["survival_hour"].isnull(),"expire_flag"] = 0
df_admit = df_admit.loc[:,['stay_id','hospital_survival_day','hospital_expire_flag']]
df_admit["hospital_survival_day"] = round(df_admit["hospital_survival_day"],0)

df_admit = pd.merge(df_admit, df_type_filt,how="inner",on="stay_id")
df_admit = df_admit.drop_duplicates()
change_lst = df_admit[(df_admit["hospital_survival_day"]>30) & (df_admit["hospital_expire_flag"]==1)].stay_id.tolist()
df_admit.loc[(df_admit["hospital_survival_day"]>30) & (df_admit["hospital_expire_flag"]==1), "hospital_expire_flag"] = 0
df_admit.loc[(df_admit["hospital_survival_day"]>30),"hospital_survival_day"] = 30

df_admit.head(2)

    stay_id  hospital_survival_day  hospital_expire_flag  groupHPD
0  30002415                    4.0                     0         2
1  30003598                   16.0                     0         3

In [9]:
df_vaso_stat = pd.merge(df_admit, df_vaso_filt_grouped, how="inner",on="stay_id")
df_vaso_stat["with_vaso_instayid"] = 0
df_vaso_stat.loc[df_vaso_stat["stay_id"].isin(with_vaso_instayid),"with_vaso_instayid"] = 1

In [14]:
df_vaso_stat.loc[df_vaso_stat["groupHPD"]==1,"groupHPD"] = "C1"
df_vaso_stat.loc[df_vaso_stat["groupHPD"]==2,"groupHPD"] = "C2"
df_vaso_stat.loc[df_vaso_stat["groupHPD"]==3,"groupHPD"] = "C3"

In [11]:
df_vaso_stat.head(2)

,stay_id,hospital_survival_day,hospital_expire_flag,groupHPD,vaso_type,vaso_amount,with_vaso,with_vaso_instayid
0,30002415,4.0,0,2,dobutamine,0.0,0.0,0
1,30002415,4.0,0,2,dopamine,0.0,0.0,0

In [15]:
df_vaso_stat.to_csv("df_vaso_stat.csv",index=False)

# 液体复苏

In [49]:
data_dir = "/public/hanl/jupyter_dir/kidney_sepsis_penotype/00.data/treatment/"
infile = data_dir + "fluids_bolus_hourly.csv"
df_fuild = pd.read_csv(infile)
df_fuild = df_fuild.loc[:,["stay_id","charttime","colloid_bolus_hourly"]]
df_fuild = df_fuild[df_fuild["stay_id"].isin(all_lst)]
df_fuild["charttime"] = pd.to_datetime(df_fuild["charttime"])
df_fuild.loc[:, 'fuild_endtime'] = df_fuild.charttime + dt.timedelta(hours=1)
df_fuild = df_fuild.rename(columns={"charttime":"fuild_strattime"})
df_fuild.head(2)

       stay_id     fuild_strattime  colloid_bolus_hourly       fuild_endtime
1119  34807493 2156-04-30 22:00:00              4.861111 2156-04-30 23:00:00
1120  34807493 2156-04-30 23:00:00              4.861111 2156-05-01 00:00:00

In [104]:
df_time = pd.read_csv("sk_event_time.csv")
df_time = df_time.loc[:,["stay_id","saki_onset","intime"]]
df_time["saki_onset"] = pd.to_datetime(df_time["saki_onset"])
df_time["intime"] = pd.to_datetime(df_time["intime"])
df_time.loc[:, 'saki_onset_anh'] = df_time.saki_onset + dt.timedelta(hours=12)
df_time.head(1)

    stay_id saki_onset              intime      saki_onset_anh
0  30002415 2126-12-18 2126-12-17 09:54:03 2126-12-18 12:00:00

In [105]:
# 获取saki发作后12内的液体给入量
df_fuild_filt = pd.merge(df_time,df_fuild,how="inner",on="stay_id")
df_fuild_filt = df_fuild_filt[(df_fuild_filt["fuild_strattime"]<=df_fuild_filt["saki_onset_anh"]) & (df_fuild_filt["fuild_endtime"]>=df_fuild_filt["saki_onset"])]
df_fuild_filt_grouped = df_fuild_filt.groupby(["stay_id"]).sum()
df_fuild_filt_grouped = df_fuild_filt_grouped.reset_index()
df_fuild_filt_grouped["is_bolus"] = 1

# 添加那些无液体复苏记录的患者
df_time = df_time.loc[:,["stay_id","saki_onset"]]
df_fuild_filt_grouped = pd.merge(df_fuild_filt_grouped,df_time,how="outer",on="stay_id" )
df_fuild_filt_grouped = df_fuild_filt_grouped.drop(["saki_onset"],axis=1)
df_fuild_filt_grouped = df_fuild_filt_grouped.fillna(0)

# 给fuild指定range
fuild_bins = [-1,0,500,1000,1500, 2000,2500,3000,3500,4000,4500,5000,11000]
r1,r2 = pd.cut(x=df_fuild_filt_grouped["colloid_bolus_hourly"],bins=fuild_bins,right=True,retbins=True)
df_fuild_filt_grouped["bin_range"] = r1
df_fuild_filt_grouped['bin_range'] = df_fuild_filt_grouped['bin_range'].astype(np.str)

fuild_bins = [-1,0, 2000,3000,4000,11000]
r1,r2 = pd.cut(x=df_fuild_filt_grouped["colloid_bolus_hourly"],bins=fuild_bins,right=True,retbins=True)
df_fuild_filt_grouped["bin_range_sim"] = r1
df_fuild_filt_grouped['bin_range_sim'] = df_fuild_filt_grouped['bin_range_sim'].astype(np.str)

/tmp/ipykernel_21783/3215632735.py:18: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df_fuild_filt_grouped['bin_range'] = df_fuild_filt_grouped['bin_range'].astype(np.str)
/tmp/ipykernel_21783/3215632735.py:23: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df_fuild_filt_grouped['bin_range_sim'] = df_fuild_filt_grouped['bin_range_sim'].astype(np.str)

In [97]:
df_time = pd.read_csv("sk_event_time.csv")
df_time = df_time.loc[:,["stay_id","saki_onset","intime"]]
df_time["saki_onset"] = pd.to_datetime(df_time["saki_onset"])
df_time["intime"] = pd.to_datetime(df_time["intime"])
df_time.loc[:, 'saki_onset_anh'] = df_time.saki_onset + dt.timedelta(hours=12)

# 生存时间数据准备
df_demo = pd.read_csv("/public/hanl/jupyter_dir/kidney_sepsis_penotype/00.data/feature_data/sk_icu_basicinfo.csv")
df_demo = df_demo.loc[:,["stay_id","hadm_id"]]

df_admit = pd.read_csv("/public/hanl/jupyter_dir/kidney_sepsis_penotype/00.data/feature_data/admissions.csv")
df_admit = df_admit.loc[:,['hadm_id',"dischtime","deathtime","hospital_expire_flag"]]
df_admit["dischtime"] = pd.to_datetime(df_admit["dischtime"], format='%d/%m/%Y %H:%M:%S')
df_admit["deathtime"] = pd.to_datetime(df_admit["deathtime"], format='%d/%m/%Y %H:%M:%S')
df_admit= pd.merge(df_demo,df_admit,how="inner",on="hadm_id")

df_time_cut = df_time.loc[:,["stay_id","saki_onset","intime"]]

df_admit = pd.merge(df_time_cut,df_admit,how="inner",on="stay_id")
df_admit.loc[:, 'saki_onset_bnh'] = df_admit.saki_onset + dt.timedelta(hours=-24)
df_admit["starttime"] = df_admit[['saki_onset_bnh', 'intime']].max(axis=1)

df_admit["hospital_survival_day"] = (df_admit["dischtime"] - df_admit["starttime"]).map(lambda x:x/np.timedelta64(24, 'h')).tolist()
#df_admit["survival_hour"] = (df_admit["deathtime"] - df_admit["sepsis_onset_b3h"]).map(lambda x:x/np.timedelta64(1, 'h')).tolist()
#df_admit["expire_flag"] = 1
#df_admit.loc[df_admit["survival_hour"].isnull(),"expire_flag"] = 0
df_admit = df_admit.loc[:,['stay_id','hospital_survival_day','hospital_expire_flag']]
df_admit["hospital_survival_day"] = round(df_admit["hospital_survival_day"],0)

df_admit = pd.merge(df_admit, df_type_filt,how="inner",on="stay_id")
df_admit = df_admit.drop_duplicates()
change_lst = df_admit[(df_admit["hospital_survival_day"]>30) & (df_admit["hospital_expire_flag"]==1)].stay_id.tolist()
df_admit.loc[(df_admit["hospital_survival_day"]>30) & (df_admit["hospital_expire_flag"]==1), "hospital_expire_flag"] = 0
df_admit.loc[(df_admit["hospital_survival_day"]>30),"hospital_survival_day"] = 30

df_admit.head(2)

    stay_id  hospital_survival_day  hospital_expire_flag  groupHPD
0  30002415                    4.0                     0         2
1  30003598                   16.0                     0         3

In [106]:
# 添加生存信息与类标签
df_fuild_filt_grouped = pd.merge(df_fuild_filt_grouped,df_admit,how="inner",on="stay_id")

df_fuild_filt_grouped.loc[df_fuild_filt_grouped["groupHPD"]==1,"groupHPD"] = "C1"
df_fuild_filt_grouped.loc[df_fuild_filt_grouped["groupHPD"]==2,"groupHPD"] = "C2"
df_fuild_filt_grouped.loc[df_fuild_filt_grouped["groupHPD"]==3,"groupHPD"] = "C3"

df_fuild_filt_grouped.head(2)

,stay_id,colloid_bolus_hourly,is_bolus,bin_range,bin_range_sim,hospital_survival_day,hospital_expire_flag,groupHPD
0,30002415,280.333333,1.0,"(0, 500]","(0, 2000]",4.0,0,C2
1,30003598,2446.964286,1.0,"(2000, 2500]","(2000, 3000]",16.0,0,C3

In [107]:
df_fuild_filt_grouped.to_csv("df_fuild_stat.csv",index=False)